.navbar {
  font-size: 18px;
  background-image: linear-gradient(260deg, #2376ae 0%, #1d0057 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}
.nav-link{
  color: #ffffff;
  margin: 10px;
  font-size: 18px;
}
header{
  display: flex;
  min-height: 70px;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
} 

.navbar-brand{
  height: 70px; 
  margin-right: 10px;
  display: flex;
}

nav{
  font-weight: 600;
  padding-right: 10px;
  align-items: center;
}

nav a:hover{
  color: rgb(255, 254, 254);
}

@media (max-width: 700px){
  header{
      flex-direction:column ;
      margin-right: 50px;
  }
  nav{
      padding: 10px 0px;
  }
  }


  .cuerpo{
      height: calc(100vh - 70px - 40px);
  }
  
  .navbar-nav .nav-link{
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: #e9ecef;
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
 